#darkTheme.welcome {
  background-color: #303030;
  color: #fafafa;
  padding-bottom: 270px;
}

#lightTheme.welcome {
  background-color: #fafafa;
  color: #303030;
  padding-bottom: 270px;
}

.container {
  max-width: 35rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}
