.darkTheme {
  padding-bottom: 150px;
}

.lightTheme {
  padding-bottom: 150px;
}

div .container {
  padding: 5%;
  max-width: 35rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-self: center; */
  margin: auto;
  font-size: 1em;
  text-align: center;
}

.div {
  text-align: center;
}
